<p style="color: green"><%= notice %></p>

<% content_for :title, "Draft Blogs" %>

<h1>Draft Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= link_to "Back to blogs", blogs_path %>
